[submodule "deps/djinni"]
	path = deps/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "core/lib/secp256k1"]
	path = core/lib/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
